html, body{height:100%;}
html{ width:100%}

body{
    text-align:center;
    vertical-align: middle;
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: darkgreen;
}

input{
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    height: 50%;
    border-radius: 4px;
}
input:hover{
    color:coral;  
}

#question{
    margin: auto;
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    width: 50%;
    height: 50%;
    border-radius: 4px;
    background-color: lawngreen;
    border: darkolivegreen;
}

#questionSentence{
    position: relative;
    margin: auto;
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    padding: 15%;
    width: 70%;
}
