html, body{height:100%;}
html{ width:100%}

body{
    text-align:center;
    vertical-align: middle;
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: darkgreen;
}

div{
   border-radius: 4px;
}

#question{
    margin: auto;
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    width: 50%;
    height: 50%;
    background-color: lawngreen;
}

#questionSentence{
    position: relative;
    margin: auto;
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    padding: 15%;
    width: 70%;
}

#explanation{
    background-color: lawngreen;
}
