html, body{height:100%;}
html{display:table; width:100%}

body{
    display: table-cell;
    text-align:center;
    vertical-align: middle;
    background-color: white;
}

input{
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}
input:hover{
    heght:140px;
    color:coral;
}